<%- include('partials/header'); -%>

<div class="container">
    <div>
        <h1 class="header_title"><%-title%></h1>
    </div>
    <div class="box">
        <% items.forEach((item)=>{ %>
            <form action="/delete" method="post">
                <div class="form_group">
                    <input onChange="this.form.submit()" type="checkbox" name="checkbox" value="<%=item._id%>">
                    <input type="hidden" name="list" value="<%=title%>">
                    <p class="added_item"><%-item.name%></p>
                </div>
            </form>
        <% }) %>
            
        <form action="/" method="post">    
            <div class="form_group">
                <input class="new_item" name="newItem" type="text" placeholder="Add Item">
                <button class="button" type="submit" name="list" value="<%-title%>" >+</button>
            </div>
        </form>
    </div>
</div>

<%- include('partials/footer'); -%>